<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>yanolja</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BoardFrontController</servlet-name>
    <servlet-class>com.boram3.yanolja.Board.Controller.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardFrontController</servlet-name>
    <url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GalleryFrontController</servlet-name>
    <servlet-class>com.boram3.yanolja.Gallery.Controller.GalleryFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GalleryFrontController</servlet-name>
    <url-pattern>*.ga</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>com.boram3.yanolja.Member.Controller.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ajax</servlet-name>
    <servlet-class>com.boram3.yanolja.Ajax.AjaxFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax</servlet-name>
    <url-pattern>*.aj</url-pattern>
  </servlet-mapping>
    <filter>
    <filter-name>EncodingCheck</filter-name>
    <filter-class>com.boram3.yanolja.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingCheck</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>